<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Memory and Joke Jerker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        .welcome-text {
            font-size: 2em;
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Welcome to the Memory and Joke Jerker!</h1>
        <h3>Improve Your Memory While Laughing at Jokes!</h3>
        <p>
            Step 1: Hover over the card below to get 3 numbers.<br> 
            Step 2: Remember them.<br>
            Step 3: Click the JOKES button to get a joke.<br>
            Step 4: Click again to enjoy another joke.<br>
            Step 5: Look at 2 or more jokes before hovering again to see your numbers.<br>
            How did you do? <br>
            Step 6: Click the NUMBERS button to get more numbers.<br>
        </p>
        <p>Ready? Let's get started!</p>
    </div>
    <div class="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="{{ 'welcome-text' if is_welcome_page else 'joke-text' }}">{{ joke|safe }}</p>
                </div>
                <div class="flip-card-back">
                    <p>{{ random_numbers|join(', ') }}</p>
                </div>
            </div>
        </div>
    
        <form method="POST">
            <input type="hidden" name="joke" value="{{ joke }}">
            <button type="submit" name="action" value="JOKES">JOKES</button>
            <button type="submit" name="action" value="NUMBERS">NUMBERS</button>
        </form>
    </div>
</body>
</html>
